.impressum h1{
    margin-top: 50px;
}

.impressum h2{
    font-size: 1.5em;
    margin-top: 20px;
}

.impressum p{
    margin-top: 20px;
}

.impressum h3{
    font-size: 1.1em;
}

.impressum a{
    font-size: 1em;
    margin-top: -2px;
}