
.navdesk{
    display: none;
}

.navbar-mobile .navbar{
    background-color: #009688;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255);
    border-color: rgba(255,255,255,0.5);
}

.navbar-mobile .p-4{
    background-color: #009688;
}

.navbar-mobile .btn {
    font-weight: 500;
    color: black;
}

.home {
    background-color: #009688;
    height: 350px;
}

.home h1{
    font-size: 3em;
    margin-top: 100px;
    color: white;
}

.home img{
    display: none;
}

.semi-ellipse {
    background-image: url(/assets/background.svg);
    height: 50px;
    margin-top: -2px;
    background-size: cover;
}

.aboutUs img{
    width: 200px;
    height: 200px; 
    max-height: auto;  
}

.aboutUs h2{
    margin-top: 30px;
    font-size: 1.5em;
    
}



.aboutUs p{
    font-size: 1.2em;
}

.advantages{
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: rgb(165,165,165,0.17);
}

.advantages img{
    width: 100%;
    max-width: 100px;
    margin-top: 50px;
}

.advantages h2{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 50px;
}

.advantages h3{
    width: 100%;
    font-size: 1.8em;
    margin-top: 50px;
}

.advantages p{
    font-size: 1.2em;
}

.advantages-content-img{
    text-align: center;
}

.features{
    margin-top: 100px;
    padding-bottom: 100px;
}

.features h2{
    font-size: 3em;
}

.features img{
    width: 100%;
    height: 450px;
}

.features p{
    font-size: 1.5em;
}

.features-desktop{
    display: none;
}

.questionFormats{
    background-color: rgb(165,165,165,0.17);
    padding-bottom: 100px;
}

.questionFormats h2{
    padding-bottom: 70px;
    margin-top: 100px;
    font-size: 2.5em;
}

.questionFormats .rectangle{
    margin-top: 40px;
    width: 80%;
    height: 65px;
    background-color: #009688;
}

.questionFormats .rectangle p{
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.4em;
}

.footer{
    background-color:#009688;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.footer a{
    color: white;

}


@media (min-width: 575.98px) { 
    .home img {
        display: block;
        width: 285px;
        height: 285px;
        margin-left: -10px;
    }

    .aboutUs{
        padding-top: 50px;
    }

    .aboutUs img{
        width: 130px;
        height: 130px; 
    }

    .aboutUs h2{
        margin-top: 0;
        font-size: 2em;
        
    }

    .features img{
        width: 100%;
        height: 550px;
    }


}

@media (min-width: 991.98px) { 

    .home h1{
        margin-top: 150px;
    }

    .home img {
        width: 330px;
        height: 330px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .semi-ellipse {
        height: 80px;
        margin-top: -4px;
        background-size: cover;
    }
}

@media (min-width: 1199.98px){
    .navbar-mobile {
        display: none;
    }

    .navdesk {
        display: flex;
        background-color: #007066;
    }

    .navdesk .btn {
        padding: 4px 10px 4px 10px;
        font-weight: 500;
        color: black;
    }

    .home h1{
        font-size: 4em;
        margin-left: 50px;
    }

    .home img {
        width: 400px;
        height: 400px;
        margin-left: 50px;
        margin-top: 5px;
    }

    .semi-ellipse {
        height: 120px;
        margin-top: -5px;
    }

    .aboutUs{
        margin-top: 100px;
    }

    .aboutUs h2{
        font-size: 2em;
        
    }
    
    .aboutUs p{
        font-size: 1.5em;
    }

    .aboutUs img{
        width: 200px;
        height: 200px;   
    }

    .advantages{
        padding-bottom: 150px;
    }

    .advantages h2{
        font-size: 4em;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .advantages h3{
        font-size: 2em;
    }

    .advantages p{
        font-size: 1.3em;
    }

    .advantages img{
        max-width: 120px;
    }

    .advantages-content-img{
        text-align: right;
    }

    .features{
        display: none;
    }

    .features-desktop{
        display: block;
    }

    .features-desktop h2{
        font-size: 4em;
    }

    .features-desktop p{
        margin-top: 20px;
        font-size: 1.5em;
    }

    .questionFormats h2{
        font-size: 4em;
    }

    .questionFormats .rectangle p{
        font-size: 1.5em;
    }
}